@page
@model RazorPages.Pages.SuperHeroModel
@{
}

<h3>@ViewData["Title"]</h3>
<ul>
    @foreach (var superhero in @Model.SuperHeroes)
    {
        <li>@superhero.Name (@superhero.Age)</li>
    }
</ul>